/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

/* TODO: Create CSS for your Twitter Mockup */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  background-color: #FFFFFF;
  width: 100%;
  height: 46px;
}

.navbar a {
  float: left;
  font-weight: bold;
  color: #696969;
  margin-left: 45px;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 17px;
  border: 3px solid transparent;
}

.navbar a:hover {
  color: #0066FF;
  border-bottom: 3px solid;
}

.icon {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar a {
    display: none;
  }
  
  .icon {
    display: inline;
    float: left;
    color: #696969;
    margin-left: 30px;
    padding: 12px 0px;
    text-decoration: none;
    font-size: 17px;
    border: 3px solid transparent;
  }

  .icon:hover {
    color: #0066FF;
    border-bottom: 3px solid;
  }
}

.logo {
  position: fixed;
  width: 25px;
  height: 25px;
  padding: 10px 10px;
  left: 50%;
}

.content-wrapper {
  max-width: 1190px;
  margin: 56px auto;
  display: flex;
}

.content-left {
  position: relative;
  background-color: white;
  width: 290px;
  height: 245px;
  z-index: -100;
}

.banner {
  position: absolute;
  z-index: -50;
  background-color: black;
  width: 290px;
  height: 90px;
}

.banner img {
  position: absolute;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pfp{
  position: relative;
  width: 100%;
  height: 80px;
  top: 70px;
}

.pfp img {
  float: left;
  margin: 0px 20px;
  height: 80%;
  width: auto;
  padding: 0;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
}

.user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.user p {
  margin: 0;
}

#name{
  text-decoration: underline;
  font-weight: bold;
}

.stats{
  position: relative;
  width: 100%;
  height: 80px;
  top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats div {
  margin: 15px;
  font-weight: bold;
}

.stats-label {
  color: #696969;
}

.stats-count {
  color: #1E90FF;
}

.content-center {
  position: relative;
  margin: 0 10px;
  border: 2px solid red;
}