/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

/* TODO: Create CSS for your Twitter Mockup */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  background-color: #FFFFFF;
  width: 100%;
  height: 50px;
}

.navbar a {
  float: left;
  font-weight: bold;
  color: #696969;
  margin-left: 45px;
  padding: 12px 0px;
  text-decoration: none;
  font-size: 17px;
  border: 3px solid transparent;
}

.navbar a:hover {
  color: #0066FF;
  border-bottom: 3px solid;
}

.icon {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar a {
    display: none;
  }
  
  .icon {
    display: inline;
    float: left;
    color: #696969;
    margin-left: 30px;
    padding: 12px 0px;
    text-decoration: none;
    font-size: 17px;
    border: 3px solid transparent;
  }

  .icon:hover {
    color: #0066FF;
    border-bottom: 3px solid;
  }
}

.logo {
  position: fixed;
  width: 25px;
  height: 25px;
  padding: 10px 10px;
  left: 50%;
}